{% load static %}
<div class="mb-1">
    <nav class="navbar navbar-expand-md navbar-dark bg-black" style="padding:3px;">
      <div class="container-fluid">
        <button class="navbar-toggler navbar-toggler-right"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">social_media</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="">Home <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'blogs_home' %}">Blogs <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="">Questions <span class="visually-hidden">(current)</span></a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:users_list' %}">Users</a>
            </li>
            </ul>
              <ul style="float:right;">
              <li>
                <a class="nav-link"
                   href="{% url 'users:detail' request.user.username request.user.id %}">
                  {% if request.user.profile_image %}
                    <img src="{{request.user.profile_image.url}}" style="width:35px; height:35px; border-radius: 50%; float:right; border:1px solid #000;" alt="">
                  {% else %}
                    <img src="{% static 'images/default_profile_pic.jpg' %}"   style="width:35px; height:35px; border-radius: 50%; float:right; border:1px solid #000;" alt="">
                  {% endif %}
                  </a>
              </li>
              
            {% else %}
              {% if ACCOUNT_ALLOW_REGISTRATION %}
                <li class="nav-item">
                  {# URL provided by django-allauth/account/urls.py #};
                  <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
                </li>
              {% endif %}
              <li class="nav-item">
                {# URL provided by django-allauth/account/urls.py #}
                <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">Signin</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
    </nav>
  </div>