{% extends 'base.html' %}
{% load static %}

{% block title %}
Questions
{% endblock %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block css %}
    <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
            integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
        <link href="{% static 'css/project.css' %}" rel="stylesheet" />
        <!-- This is custom css static file  -->
        <link href="{% static 'css/blog_home.css' %}" rel="stylesheet" />
    {% endblock %}
    <script src="https://kit.fontawesome.com/6fa36f3b85.js" crossorigin="anonymous"></script>
</head>

{% block content %}
<body>
    <main class="container">
        <section class="left-column">
            <div style="position: fixed;">
                <ul>
                    <li>One</li>
                    <li>One</li>
                    <li>One</li>
                </ul>
            </div>
        </section>
        <section class="med-column">
            <!-- Search by tags  -->
        <form action="{% url 'search' input='default_value' %}" method="get">
            <input type="search" name="input" id="input" class="search-input" placeholder="Search by tags or titles">
            <button type="submit" class="btn btn-info">Search</button>
        </form>
        <!-- Create new post or question -->
        <div class="dropdown">
            <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Create New 
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'create_blog' %}">New Post</a></li>
              <li><a class="dropdown-item" href="{% url 'create_question' %}">New Question</a></li>
            </ul>
          </div>

        <h1 id="home-heading">Questions</h1>
        {% for question in questions %}
       <div class="blog-post" id="{{question.id}}">
            <!-- DropDown Menu -->
            <div class="dropdown">
                <button  data-bs-toggle="dropdown" aria-expanded="false" style="float:right; border:0; background-color:inherit;">
                    <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                </button>
                    <ul class="dropdown-menu" style="background-color:black; color:#fff;">
                        <!-- Edit Form --> 
                            <li class="dropdown-item" ><a href="{% url 'update_question' question.id %}" style="text-decoration: none;">Edit</a></li>
                            <!-- Delete Form  -->
                            <li class="dropdown-item" id="delete">Delete</li> 
                    </ul>
                </div>       
            <!-- Delete Blog pop up  Container -->
            <div class="delete-container">
                <h3>Are You Sure you want to delete '{{question.question}}'</h3>
                <form action="{% url 'delete_question' question.id %}" method="post">
                    {% csrf_token%}
                    <input type="submit" id='delete-blog' value="Delete" class="btn btn-danger" name="delete">
                    <input type="button" id='cancel' value="Cancel" class="btn btn-light" name="cancel">
                </form> 
            </div>
            <!-- Endof the Delete pop up -->
            <h6 class="author">
                {% if request.user.is_authenticated %}
                    {% if request.user.profile_image %}
                        <img class="profile-image" src="{{request.user.profile_image.url }}" alt="{{request.user}}">
                    {% else %}
                        <img src="{% static 'images/default_profile_pic.jpg' %}" alt="">
                    {% endif %} 
                    <a href="{% url 'users:detail' request.user request.user.id %}" style="font-weight: 500;">{{blog.author}}</a>
                {% else %}
                    {{question.author}}
                {% endif %}
                </h6>
            {% if question.tags.all %}
            <p class="author">Tags: {% for tag in question.tags.all%}<span class="tag">{{tag}}</span>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            {% endif %}
            <p class="date">Date: {{question.pub_date}}</p>
            <div class="body">
                <a href="{% url 'question_detail' question.id %}" style="text-decoration: none;">
                    <h1 class="title">{{question.question}}</h1>
                </a>
            </div>
                <form action="{% url 'answer_question' question.id %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="answer" id="comment" placeholder="type your answer here..">
                    <button class="comment-btn" type="submit">Answer</button>

                </form>
                <div class="actions">
                    <!-- Likes -->
                    <div class="like-container">
                        <button data-question-id='{{ question.id }}' style='background-color: inherit; border:0;' id='like-button' data-csrf-token='{% csrf_token %}'>
                           {% if request.user in question.likes.all %}
                            <i class="fa-solid fa-heart fa-2xl" style="color: #d62069;"></i>
                            {% else %}
                            <i class="fa-regular fa-heart fa-2xl" style="color: #d62069;"></i>
                            {% endif %}
                        </button>
                        <span id="likes-count">{{ likes_count }}</span>
                    </div>
                    <!-- Answers -->
                    <!--  -->
                </div>
            </div>
        {% endfor %}
        </section>
        <section class="right-column">
            <div style="position: fixed;">
                <h5>Recently Published</h5>
                <ul>
                    {% for blog in recent_blogs %}
                    <li><a href="{% url 'blog_details' blog.id %}" style="text-decoration: none;">{{blog}}</a></li>
                    {% endfor %}
            </ul>
                <h6>Trending Tags for the last 7 days</h6>
                <ul>
                    {% for tag in trendy_tags %}
                    <li><a href="{% url 'trendy_tags' tag %}" style="text-decoration: none;">{{tag}}</a></li>  
                    {% endfor %}
                </ul>
            </div>        
        </section>
    </main>

    {% block javascript %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
        crossorigin="anonymous"></script>
        <!-- place project specific Javascript in this file -->
        <script src="{% static 'js/like_question.js' %}"></script>
        <script defer src="{% static 'js/project.js' %}"></script>
        <script src="https://kit.fontawesome.com/6fa36f3b85.js" crossorigin="anonymous"></script>
    {% endblock %}
</body>

{% endblock %}