{% extends "base.html" %}
{% load static %}
{% block title %}
    Blog Bookmarks
{% endblock title %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block css %}
  <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
          integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
      <link href="{% static 'css/blog_home.css' %}" rel="stylesheet" />    
  {% endblock %}
</head>

{% block content %}
<body>

<h2>Blog Bookmarks {{bookmarks_blog_list.count}}</h2>
<main class="contianer">
{% if bookmarks_blog_list %}
<section class="med-column">
    {% for blog in bookmarks_blog_list %}
   <div class="blog-post" id="{{blog.blog.id}}">
       <!-- DropDown Menu -->
       <div class="dropdown">
        <button  data-bs-toggle="dropdown" aria-expanded="false" style="float:right; border:0; background-color:inherit;">
            <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
        </button>
            <ul class="dropdown-menu" style="background-color:white ;">
                {% if request.user == blog.blog.author %}
                <!-- Edit Form --> 
                    <li class="dropdown-item">
                        <a class="dropdown-item" style="text-align: center;" href="{% url 'update_blog' blog.blog.id %}" >
                            <i class="fa-solid fa-pencil"></i>Edit
                        </a>
                    </li>
                    <!-- Delete Form  -->
                    <li class="dropdown-item" id="delete" style="text-align: center;">
                        <i class="fa-solid fa-trash" ></i>Delete
                    </li> 
                    {% endif %}
                    <li class="dropdown-item" style="text-align: center;" id="blog-{{blog.blog.id}}" onclick="hideBlog({{blog.blog.id}})">
                        <i class="fa-regular fa-eye-slash"></i>Hide
                    </li>
            </ul>
        </div>           
        <!-- Delete Blog pop up  Container -->
        <div class="delete-container">
            <h3>Are You Sure you want to delete '{{blog.blog.title}}' Blog</h3>
            <form action="{% url 'delete_blog' blog.blog.id %}" method="post">
                {% csrf_token%}
                <input type="submit" id='delete-blog' value="Delete" class="btn btn-danger" name="delete">
                <input type="button" id='cancel' value="Cancel" class="btn btn-light" name="cancel">  
            </form> 
        </div>
        <!-- Endof the Delete pop up -->
        <div class="author">
          <h6>
              {% if blog.blog.author.profile_image %}
              <img class="profile-image" src="{{blog.blog.author.profile_image.url }}" alt="{{request.user}}">
              {% else %}
              <img  class="profile-image" src="{% static 'images/default_profile_pic.jpg' %}" alt="">
              {% endif %} 
              <a href="{% url 'users:detail' request.user request.user.id %}" style="font-weight: 500;">{{blog.blog.author}} </a>
              {% if blog.blog.author.job_title %} 
                  <h6 class="text-muted" >{{ blog.blog.author.job_title }} . {{blog.blog.pub_date}} (reposted) </h6>
                  {% endif %}
          </h6>
          
          
    </div>
    {% if blog.blog.reposted %}
        <h6 class="text-muted"> from 
         {% if blog.blog.original_post.author.profile_image %}
         <img class="profile-image-reposted" src="{{blog.blog.original_post.author.profile_image.url }}" alt="image">
         {% else %}
         <img  class="profile-image-reposted" src="{% static 'images/default_profile_pic.jpg' %}" alt="image">
         {% endif %}
         {{blog.blog.original_post.author.username}}
      </h6>
     {% endif %}
     {% if blog.blog.tags.all %}
     <p class="tags" style="float:left;">Tags: {% for tag in blog.blog.tags.all%}<span class="tag">{{tag}}</span>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
     {% endif %}
     <!-- Blog title  -->
     <a href="{% url 'blog_details' blog.blog.id %}" class="title">
         <h1 >{{blog.blog.title}}</h1>
     </a>
      <div class="body">
         {% with max_length=200 %} 
             {% if blog.blog.body|length > max_length %}
                 <div class="truncated-text">
                     {{blog.blog.body|safe|slice:max_length}} ...
                     <a href="" class="read-more-link">Read More</a>
                 </div>       
                 <div class="full-text" style="display:none">{{blog.blog.body|safe}}</div>
                 <a href="" class="read-less-link" style="display: none;"> ...Read less</a>
         <!-- Add more content here -->
             {% else %}
             {{blog.blog.body|safe}}
             {% endif %}
         {% endwith %}
         {% if blog.blog.image %}
         <div class="image-container">
             <img src="{{blog.blog.image.url}}" alt="image" class="blog-image">
         </div>
         {% endif %}
     </div>
            <!-- Add more content here -->
        <div class="actions-nums">
          <h6 class="text-muted" id="likes-count-{{ blog.blog.id }}">{{blog.blog.likes.all.count}} Likes</h6>
          <h6 class="text-muted">
              <a href="{% url 'comment_list' blog.blog.id %}" class="text-muted">
                  {{blog.blog.comments.all.count}} Comment
              </a>
          </h6>
          <h6 class="text-muted" id="repost-count-{{blog.blog.id}}">{{blog.blog.repost}} Reposts</h6>
      </div>
      <div class="actions">            
          <div class="blog-details">
              <button data-blog-id='{{ blog.blog.id }}' id='like-button' data-csrf-token='{% csrf_token %}'>                   
                  {% if request.user in blog.blog.likes.all %}
                  <i class="fa-solid fa-heart fa-2xl" style="color: #d62069;"></i>
                  {% else %}
                  <i class="fa-regular fa-heart fa-2xl" style="color: #d62069;"></i>
                  {% endif %}
              </button>
          </div>

              <div class="comments" style="display: inline; margin-left:10px;"> 
                  {% if request.user in blog.blog.comments.all %}
                  <a href="{% url 'comment_list' blog.blog.id %}" style="text-decoration: none;">
                      <i class="fa-solid fa-comment fa-2xl"></i>
                  </a>
                  {% else %}
                  <a href="{% url 'comment_list' blog.blog.id %}" style="text-decoration: none; ">
                      <i class="fa-regular fa-comment fa-2xl"></i>
                  </a>
                  {% endif %}
              </div>
              <div class="repost"  id="repost-container-{{blog.blog.id}}" style="display:inline-block; margin-top:10px;">
              <button id="repost-btn" data-repost-id ="{{blog.blog.id}}"  data-csrf-token='{% csrf_token %}'>
                  
                  <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 20px;" width="30" height="30" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                      <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                      <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                    </svg>
                  </button>
              </div>
              <!-- Repost -->
          </div>
      </div>
   
    {% endfor %}
  </section>
  {% else %}
  <h5>Empty</h5>
  {% endif %}
  {% block javascript %}
  
  
  <!-- Bootstrap JS -->
  
  <!-- Your stuff: Third-party javascript libraries go here -->
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
crossorigin="anonymous"></script>
<!-- place project specific Javascript in this file -->
<script src="{% static 'js/read_more.js' %}"></script>
<script src="{% static 'js/like.js' %}"></script>
<script src="{% static 'js/repost_blog.js' %}"></script>
<script src="{% static 'js/hide_blog.js' %}"></script>
<script defer src="{% static 'js/project.js' %}"></script>
<script src="https://kit.fontawesome.com/6fa36f3b85.js" crossorigin="anonymous"></script>

{% endblock %}
</main>

</body>
{% endblock %}