{% extends "base.html" %}
{% load static %}
{% block title %}
  Question Bookmarks
{% endblock title %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block css %}
  <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
          integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
      <link href="{% static 'css/profile.css' %}" rel="stylesheet" /> 
      <link href="{% static 'css/blog_home.css' %}" rel="stylesheet" />    
  {% endblock %}
</head>

{% block content %}

{% endblock %}

