{% extends "base.html" %}
{% load static %}
{% block title %}
  User:{{ object.username }}
{% endblock title %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block css %}
  <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
          integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
      <link href="{% static 'css/profile.css' %}" rel="stylesheet" /> 
      <link href="{% static 'css/blog_home.css' %}" rel="stylesheet" />    
  {% endblock %}
</head>

{% block content %}
  <div class="profile-container" style= "padding:20px; border-radius:5px;">
    <div class="row">
      <div class="col-sm">
        <div class="profile-image">
          {% if user.profile_image %}
          <img src="{{user.profile_image.url}}" alt="profile-image" style="width:131px; height:131px;border-radius: 50%;"> 
          {% else %}
          <img src="{% static 'images/default_profile_pic.jpg'%}"  alt="Profile picture" style="width:auto; border-radius: 50%;">
          {% endif %}
        </div>
      <div style="margin-top: 100px;">
        <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
      <h6 class="text-muted">{{user.job_title}}</h6>
      <p>{{user.bio}}</p>
      {% if social_media_links %}
      <span class="text-muted"> Social Media Links</span>
        {% for link in social_media_links %}
          {% if link.platform == 'X' %}
            <a href="{{link.link}}">
              <i class="fa-brands fa-x-twitter"></i>
            </a> 
          {% endif %}
          {% if link.platform == 'facebook' %}
            <a href="{{link.link}}">
              <i class="fa-brands fa-facebook"></i>
            </a>
          {% endif %}
          {% if link.platform == 'instagram' %}
            <a href="{{link.link}}">
              <i class="fa-brands fa-instagram"></i>
            </a>
          {% endif %}
        {% endfor %}           
      {% endif %}
      {% if user.about_me %}
      <div class="card mb-3" style="background-color: #000;">
        <div class="card-header">
          About Me 
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p style="font-size: medium;">{{user.about_me}}</p>
          </blockquote>
        </div>
      </div>
      {% endif %}
      </div>
 
    </div>
  </div> <br>
  <h6 style="color:rgb(224, 117, 46);">{{new_profile}}</h6>  
  {% if object == request.user %}
    <!-- Action buttons -->
    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-primary" href="{% url 'users:update' %}">Update Profile</a>
       <!-- Dropdown Menu Settings -->
       <div class="dropdown" style="display: inline;">
        <button  type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border:0; background-color:inherit; color:#fff;">
          <i class="fa-solid fa-gear fa-2xl"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu"  >
          <li><a class="dropdown-item " href="{% url 'users:social_media_link_form'  %}">Add Social Media Link</a></li>
          <li><a class="dropdown-item" href="{% url 'account_email' %}">E-mail</a></li>
          <li><a class="dropdown-item" href="{% url 'account_change_password' %}">Change My password</a></li>
          <li><a class="dropdown-item" href="{% url 'users:blog_bookmarks' %}">
            <i class="fa-regular fa-bookmark"></i> Blog Bookmarks
          </a></li>
          <li><a class="dropdown-item" href="{% url 'users:question_bookmarks' %}">
            <i class="fa-regular fa-bookmark"></i> Question Bookmarks
          </a></li>
          <li><a class="dropdown-item" href="{% url 'account_change_password' %}">Change My password</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
        </ul>
      </div>
    </div>
      </div>
    </div>
    <!-- End Action buttons -->
  {% endif %}
</div>
<div class="btns-container">
  <button data-page="posts" class="nav-btn">Posts</button>
  <button data-page="questions" class="nav-btn">Questions</button>
  <button data-page="comments" class="nav-btn">Comments</button>
  <button data-page="answers" class="nav-btn">Answers</button>
  <button data-page="likes" class="nav-btn">Likes</button>
<!-- Blogs Content container -->
<div class="nav-content" id="posts">
  <main class="med-column" style="width: fit-content;">
      <h3>User's Posts ({{user_blogs.all.count}})</h3>
        {% for blog in user_blogs %}
       <div class="blog-post" id="{{blog.id}}">
           <!-- DropDown Menu -->
           <div class="dropdown">
            <button  data-bs-toggle="dropdown" aria-expanded="false" style="float:right; border:0; background-color:inherit;">
                <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
            </button>
                <ul class="dropdown-menu" style="background-color:white ;">
                    {% if request.user == blog.author %}
                    <!-- Edit Form --> 
                        <li class="dropdown-item">
                            <a class="dropdown-item" style="text-align: center;" href="{% url 'update_blog' blog.id %}" >
                                <i class="fa-solid fa-pencil"></i>Edit
                            </a>
                        </li>
                        <!-- Delete Form  -->
                        <li class="dropdown-item" id="delete" style="text-align: center;">
                            <i class="fa-solid fa-trash" ></i>Delete
                        </li> 
                        {% endif %}
                        <li class="dropdown-item" style="text-align: center;" id="blog-{{blog.id}}" onclick="hideBlog({{blog.id}})">
                            <i class="fa-regular fa-eye-slash"></i>Hide
                        </li>
                    <li class="dropdown-item">
                        <form action="{% url 'bookmark' blog.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item" name="bookmark">
                                <i class="fa-regular fa-bookmark"></i> Blogs Bookmarks
                            </button>
                        </form>
                    </li>
                </ul>
            </div>           
            <!-- Delete Blog pop up  Container -->
            <div class="delete-container">
                <h3>Are You Sure you want to delete '{{blog.title}}' Blog</h3>
                <form action="{% url 'delete_blog' blog.id %}" method="post">
                    {% csrf_token%}
                    <input type="submit" id='delete-blog' value="Delete" class="btn btn-danger" name="delete">
                    <input type="button" id='cancel' value="Cancel" class="btn btn-light" name="cancel">
                    
                </form> 
            </div>
            <!-- Endof the Delete pop up -->
            <div class="author">
              <h6>
                  {% if blog.author.profile_image %}
                  <img class="profile-image" src="{{blog.author.profile_image.url }}" alt="{{request.user}}">
                  {% else %}
                  <img  class="profile-image" src="{% static 'images/default_profile_pic.jpg' %}" alt="">
                  {% endif %} 
                  <a href="{% url 'users:detail' request.user request.user.id %}" style="font-weight: 500;">{{blog.author}} </a>
                  {% if blog.author.job_title %} 
                      <h6 class="text-muted" >{{ blog.author.job_title }} . {{blog.pub_date}} (reposted) </h6>
                      {% endif %}
              </h6> 
        </div>
        {% if blog.reposted %}
            <h6 class="text-muted"> from 
             {% if blog.original_post.author.profile_image %}
             <img class="profile-image-reposted" src="{{blog.original_post.author.profile_image.url }}" alt="image">
             {% else %}
             <img  class="profile-image-reposted" src="{% static 'images/default_profile_pic.jpg' %}" alt="image">
             {% endif %}
             {{blog.original_post.author.username}}
          </h6>
         {% endif %}
         {% if blog.tags.all %}
         <p class="tags" style="float:left;">Tags: {% for tag in blog.tags.all%}<span class="tag">{{tag}}</span>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
         {% endif %}
         <!-- Blog title  -->
         <a href="{% url 'blog_details' blog.id %}" class="title">
             <h1 >{{blog.title}}</h1>
         </a>
          <div class="body">
             {% with max_length=200 %} 
                 {% if blog.body|length > max_length %}
                     <div class="truncated-text">
                         {{blog.body|safe|slice:max_length}} ...
                         <a href="" class="read-more-link">Read More</a>
                     </div>       
                     <div class="full-text" style="display:none">{{blog.body|safe}}</div>
                     <a href="" class="read-less-link" style="display: none;"> ...Read less</a>
             <!-- Add more content here -->
                 {% else %}
                 {{blog.body|safe}}
                 {% endif %}
             {% endwith %}
             {% if blog.image %}
             <div class="image-container">
                 <img src="{{blog.image.url}}" alt="image" class="blog-image">
             </div>
             {% endif %}
         </div>
         <!-- comment section -->
         <div class="comment-container">
          <form action="{% url 'create_comment' blog.id %}" method="post">
              {% csrf_token %}
              <input type="text" name="comment" id="comment" placeholder="type your comment here..">
              <button class="comment-btn" type="submit">Comment</button>
          </form>
      </div>
                <!-- Add more content here -->
            <div class="actions-nums">
              <h6 class="text-muted" id="likes-count-{{ blog.id }}">{{blog.likes.all.count}} Likes</h6>
              <h6 class="text-muted">
                  <a href="{% url 'comment_list' blog.id %}" class="text-muted">
                      {{blog.comments.all.count}} Comment
                  </a>
              </h6>
              <h6 class="text-muted" id="repost-count-{{blog.id}}">{{blog.repost}} Reposts</h6>
          </div>
          <div class="actions">            
              <div class="blog-details">
                  <button data-blog-id='{{ blog.id }}' id='like-button' data-csrf-token='{% csrf_token %}'>                   
                      {% if request.user in blog.likes.all %}
                      <i class="fa-solid fa-heart fa-2xl" style="color: #d62069;"></i>
                      {% else %}
                      <i class="fa-regular fa-heart fa-2xl" style="color: #d62069;"></i>
                      {% endif %}
                  </button>
              </div>
                  <div class="comments" style="display: inline; margin-left:10px;"> 
                      {% if request.user in blog.comments.all %}
                      <a href="{% url 'comment_list' blog.id %}" style="text-decoration: none;">
                          <i class="fa-solid fa-comment fa-2xl"></i>
                      </a>
                      {% else %}
                      <a href="{% url 'comment_list' blog.id %}" style="text-decoration: none; ">
                          <i class="fa-regular fa-comment fa-2xl"></i>
                      </a>
                      {% endif %}
                  </div>
              </div>
          </div>
        {% endfor %}
  </main>
</div>
<!-- Questions Section  -->
<div class="nav-content" id="questions">

<section class="med-column">
{% for question in user_questions %}
<div class="blog-post" id="{{question.id}}">
    <!-- DropDown Menu -->
    <div class="dropdown">
        <button  data-bs-toggle="dropdown" aria-expanded="false" style="float:right; border:0; background-color:inherit;">
            <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
        </button>
            <ul class="dropdown-menu" style="background-color:white ;">
                {% if request.user == question.author %}
                <!-- Edit Form --> 
                    <li class="dropdown-item" ><a href="{% url 'update_question' question.id %}" style="text-decoration: none;">Edit</a></li>
                    <!-- Delete Form  -->
                    <li class="dropdown-item" id="delete" style="color:#000; font-weight:bolder;">Delete</li> 
                    {% endif %}
                    <li class="dropdown-item" id="question-{{question.id}}" onclick="hideQuestion({{question.id}})">Hide</li>
                    <li class="dropdown-item" >
                        <form action="{% url 'bookmark_question' question.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item" name="bookmark">
                                <i class="fa-regular fa-bookmark"></i>Bookmark
                            </button>
                        </form>
                    </li>
            </ul>
        </div>       
    <!-- Delete Blog pop up  Container -->
    <div class="delete-container" style="position: relative;">
        <h3>Are You Sure you want to delete '{{question.question}}'</h3>
        <form action="{% url 'delete_question' question.id %}" method="post">
            {% csrf_token%}
            <input type="submit" id='delete-blog' value="Delete" class="btn btn-danger" name="delete">
            <input type="button" id='cancel' value="Cancel" class="btn btn-light" name="cancel">
        </form> 
    </div>
    <!-- Endof the Delete pop up -->
    <h6 class="author">
            {% if question.author.profile_image %}
                <img class="profile-image" src="{{question.author.profile_image.url }}" alt="{{request.user}}">
            {% else %}
                <img  class="profile-image" src="{% static 'images/default_profile_pic.jpg' %}" alt="">
            {% endif %} 
            <a href="{% url 'users:detail' request.user request.user.id %}" style="font-weight: 500;">{{blog.author}}</a>
       
            {{question.author}}
        </h6>
    {% if question.tags.all %}
    <p class="author">Tags: {% for tag in question.tags.all%}<span class="tag">{{tag}}</span>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    {% endif %}
    <p class="date">Date: {{question.pub_date}}</p>
    <div class="body">
        <a href="{% url 'question_detail' question.id %}" class="title">
            <h1>{{question.question}}</h1>
            
        </a> <br>
         
    </div>
        <form action="{% url 'answer_question' question.id %}" method="post">
            {% csrf_token %}
            <input type="text" name="answer" id="comment" placeholder="type your answer here..">
            <button class="comment-btn" type="submit">Answer</button>

        </form>
        <div class="actions-nums">
            <h6 class="text-muted" id="likes-count-{{ question.id }}">
                {{question.likes.all.count}} Likes
            </h6>
            <h6 class="text-muted">
                <a href="" class="text-muted">
                    {{question.answers.all.count}} Answers
                </a>
            </h6>
            <h6 class="text-muted" id="repost-count-{{question.id}}">
                {{question.repost_count}} Reposts
            </h6>
        </div>
        <div class="actions">
            <!-- Likes -->
            <div class="like-container">
                <button data-question-id='{{ question.id }}' style='background-color: inherit; border:0;' id='like-button' data-csrf-token='{% csrf_token %}'>
                   {% if request.user in question.likes.all %}
                    <i class="fa-solid fa-heart fa-2xl" style="color: #d62069;"></i>
                    {% else %}
                    <i class="fa-regular fa-heart fa-2xl" style="color: #d62069;"></i>
                    {% endif %}
                </button>
                <span id="likes-count-{{question.id}}">{{ likes_count }}</span>
                <div class="comments" style="display: inline-block; margin-left:10px;"> 
                    <!-- Answers -->
                    {% if request.user in question.answers.all %}
                    <a href="#" style="text-decoration: none;">
                        <i class="fa-solid fa-comment fa-2xl"></i>
                    </a>
                    {% else %}
                    <a href="#" style="text-decoration: none; ">
                        <i class="fa-regular fa-comment fa-2xl"></i>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</section>
</div>
<!-- Comment Section -->
<div class="nav-content" id="comments"> <br> 
  <div class="list-group" >
    <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
      user's Comments ({{user_comments.all.count}})
    </button>
    {% for comment in user_comments %}
    <li class="list-group-item" >
      {% if comment.user.profile_image %}
          <img class="profile-image-thumb" src="{{comment.user.profile_image.url }}" alt="{{request.user}}">
          {% else %}
          <img  class="profile-image-thumb" src="{% static 'images/default_profile_pic.jpg' %}" alt="">
      {% endif %}
      <span class="text-muted">
        {{comment.user.username}} 
      </span> - 
      {{comment.comment}}
      <span>
        <a href="{% url 'blog_details' comment.id %}" class="text-muted">see the post</a>
      </span>
    </li>
    {% endfor %}
  </div>
</div>
<!-- Likes Section -->
<div class="nav-content" id="likes" >
  <main class="med-column">
      <h3>Blogs You Liked ({{user_likes.all.count}})</h3>
      {% for like in user_likes %}
     <div class="blog-post" id="{{like.id}}">
          
          <a href="{% url 'blog_details' like.id %}"  class="title">
              <h1>{{like.title}}</h1>
          </a>
          {% if like.author.profile_image %}
            <img class="profile-image-thumb" src="{{like.author.profile_image.url }}" alt="{{request.user}}">
          {% else %}
            <img  class="profile-image-thumb" src="{% static 'images/default_profile_pic.jpg' %}" alt="">
          {% endif %}
          <p class="author">Author: {{like.author}}</p>
          {% if like.tags.all %}
          <p class="author">Tags: {% for tag in like.tags.all%}<span class="tag">{{tag}}</span>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
          {% endif %}
          <p class="date">Date: {{like.pub_date|timesince}}</p>
          <div class="body">
              <p>{{like.body}}</p>       
              <!-- Add more content here -->
              <div class="blog-details">
                <button data-blog-id='{{ like.id }}' id='like-button' data-csrf-token='{% csrf_token %}'>                   
                    {% if request.user in like.likes.all %}
                    <i class="fa-solid fa-heart fa-2xl" style="color: #d62069;"></i>
                    {% else %}
                    <i class="fa-regular fa-heart fa-2xl" style="color: #d62069;"></i>
                    {% endif %}
                </button>
                <h6 class="text-muted" id="likes-count-{{ like.id }}">{{like.likes.all.count}} Likes</h6>
            </div>
          </div>        
              
      </div>
      {% endfor %}
  </main>
</div>
<!-- Answers Section  -->
<div class="nav-content" id="answers"> <br> 
  <section class="med-column">

  
  <div class="list-group" >
    <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
      user's Answers ({{user_answers.all.count}})
    </button>
    {% for answer in user_answers %}
    <li class="list-group-item">
      {% if answer.author.profile_image %}
          <img class="profile-image-thumb" src="{{answer.author.profile_image.url }}" alt="{{request.user}}">
          {% else %}
          <img  class="profile-image-thumb" src="{% static 'images/default_profile_pic.jpg' %}" alt="">
      {% endif %}
      <span class="text-muted">{{answer.author}}</span>
      {{answer}}
      <div class="vote">
          <button data-answer-id='{{ answer.id }}' id='vote-btn' data-csrf-token='{% csrf_token %}' style="float:right; background-color: inherit; color:#000;">
              {% if request.user in answer.votes.all %}
                  <i class="fa-solid fa-thumbs-up"></i>
              {% else %}
              <i class="fa-regular fa-thumbs-up"></i>
              {% endif %}
          </button>
          <span class="text-muted" id="votes-count-{{answer.id}}">{{answer.votes.all.count}} Votes</span>
          <span>
            <a href=" {% url 'question_detail' answer.id %}"  class="text-muted">
              See The Question
            </a>
          </span>
      </div>
    </li>
    {% endfor %}
  </div>
</section>
</div>

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
crossorigin="anonymous"></script>
<!-- place project specific Javascript in this file -->  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script defer src="{% static 'js/project.js' %}"></script>
  <script src="{% static 'js/vote.js' %}"></script>
  <script defer src="{% static 'js/profile_single_page.js' %}"></script>
  <script src="{% static 'js/read_more.js' %}"></script>
  <script src="{% static 'js/like.js' %}"></script>
  <script src="{% static 'js/repost_blog.js' %}"></script>
  <script src="{% static 'js/hide_blog.js' %}"></script>
  <script src="{% static 'js/like_question.js' %}"></script>
  <script src="{% static 'js/repost_question.js' %}"></script>
  <script src="{% static 'js/hide_question.js' %}"></script>
  <script src="https://kit.fontawesome.com/6fa36f3b85.js" crossorigin="anonymous"></script>
{% endblock %}
{% endblock content %}
