{% extends "base.html" %}
{% load static %}
{% block title %}
  User:{{ object.username }}
{% endblock title %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block css %}
  <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
          integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
      <link href="{% static 'css/profile.css' %}" rel="stylesheet" />     
  {% endblock %}
</head>

{% block content %}
  <div class="container" style= "padding:20px; border-radius:5px;">
    <div class="row">
      <div class="col-sm-12">
        <div class="profile-image">
          {% if user.profile_image %}
          <img src="{{user.profile_image.url}}" alt="profile-image" style="width:131px; height:131px;border-radius: 50%;"> 
          {% else %}
          <img src="{% static 'images/default_profile_pic.jpg'%}"  alt="Profile picture" style="width:auto; border-radius: 50%;">
          {% endif %}
        </div>
    
        <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
      <h6 class="text-muted">{{user.job_title}}</h6>
      <p>{{user.bio}}</p>
      {% if user.about_me %}
      <div class="card mb-3" style="background-color: #000;">
        <div class="card-header">
          About Me 
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p style="font-size: medium;">{{user.about_me}}</p>
          </blockquote>
        </div>
      </div>
      {% endif %}
    </div>
  </div> <br>
  <h6 style="color:rgb(224, 117, 46);">{{new_profile}}</h6>  
  {% if object == request.user %}
    <!-- Action buttons -->
    <div class="row">
      <div class="col-sm-12">
        <a class="btn btn-primary" href="{% url 'users:update' %}">Update Profile</a>
       <!-- Dropdown Menu Settings -->
       <div class="dropdown" style="display: inline;">
        <button  type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border:0; background-color:inherit; color:#fff;">
          <i class="fa-solid fa-gear fa-2xl"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-dark" >
          <li><a class="dropdown-item " href="{% url 'users:social_media_link_form'  %}">Add Social Media Link</a></li>
          <li><a class="dropdown-item" href="{% url 'account_email' %}">E-mail</a></li>
          <li><a class="dropdown-item" href="{% url 'account_change_password' %}">Change My password</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
        </ul>
      </div>
    </div>
      </div>
      <br>
    </div>
    <!-- End Action buttons -->
  {% endif %}
</div>
<div class="btns-container">
  <button data-page="posts" class="nav-btn">Posts</button>
  <button data-page="questions" class="nav-btn">Questions</button>
  <button data-page="comments" class="nav-btn">Comments</button>
  <button data-page="answers" class="nav-btn">Answers</button>
  <button data-page="likes" class="nav-btn">Likes</button>

<div class="nav-content" id="posts">
  <main class="content">
      <h3>User's Posts ({{user_blogs.all.count}})</h3>
        {% for blog in user_blogs %}
       <div class="blog-post" id="{{blog.id}}">
            <!-- DropDown Menu -->
            <div class="dropdown">
                <button  data-bs-toggle="dropdown" aria-expanded="false" style="float:right; border:0; background-color:inherit; color:white;">
                    <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                </button>
                    <ul class="dropdown-menu">
                        <!-- Edit Form --> 
                            <li class="dropdown-item" ><a href="{% url 'update_blog' blog.id %}" style="text-decoration: none;">Edit</a></li>
                            <!-- Delete Form  -->
                            <li class="dropdown-item" id="delete">Delete</li> 
                    </ul>
                </div>       
            <!-- Delete Blog pop up  Container -->
            <div class="delete-container">
                <h3>Are You Sure you want to delete '{{blog.title}}' Blog</h3>
                <form action="{% url 'delete_blog' blog.id %}" method="post">
                    {% csrf_token%}
                    <input type="submit" id='delete-blog' value="Delete" class="btn btn-danger" name="delete">
                    <input type="button" id='cancel' value="Cancel" class="btn btn-light" name="cancel">
                    
                </form> 
            </div>
            <!-- Endof the Delete pop up -->
            <a href="{% url 'blog_details' blog.id %}" style="text-decoration: none;">
                <h1 class="title">{{blog.title}}</h1>
            </a>
            <p class="author">Author: {{blog.author}}</p>
            {% if blog.tags.all %}
            <p class="author">Tags: {% for tag in blog.tags.all%}<span class="tag">{{tag}}</span>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            {% endif %}
            <p class="date">Date: {{blog.pub_date}}</p>
            <div class="body">
                <p>{{blog.body}}</p>       
                <!-- Add more content here -->
            </div>
            <div class="actions">
                <div class="likes">
                    {% if request.user in blog.likes.all %}
                        <button type="submit" style="background-color:inherit;">
                            <i class="fa-solid fa-heart fa-2xl" style="color: #d62069;"></i>
                        </button> {{blog.likes.all.count}}
                        {% else %}
                        <button type="submit" style="background-color: inherit;">
                            <i class="fa-regular fa-heart fa-2xl" style="color: #d62069;"></i>
                        </button> {{blog.likes.all.count}}
                        {% endif %}                   
                </div>
                <div class="comments">
                    {% if request.user in blog.comments.all %}
                        <a href="{% url 'comment_list' blog.id %}" style="text-decoration: none;">
                            <i class="fa-solid fa-comment fa-xl"></i>{{blog.comments.all.count}}
                        </a>
                    {% else %}
                        <a href="{% url 'comment_list' blog.id %}" style="text-decoration: none; ">
                            <i class="fa-regular fa-comment fa-xl"></i>{{blog.comments.all.count}}
                        </a>
                    {% endif %}
                </div>
                <div class="comment-container">
                    <form action="{% url 'create_comment' blog.id %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="comment" id="comment" placeholder="type your comment here..">
                        <button class="comment-btn" type="submit">Comment</button>
                    </form>
                </div>     
            </div>
        </div>
        {% endfor %}
    </main>
</div>
<!-- Questions Section  -->
<div class="nav-content" id="questions">
  <main class="content">
      <h3>User's Questions ({{user_questions.all.count}})</h3>
        {% for question in user_questions %}
       <div class="blog-post" id="{{question.id}}">
            <!-- DropDown Menu -->
            <div class="dropdown">
                <button  data-bs-toggle="dropdown" aria-expanded="false" style="float:right; border:0; background-color:inherit; color:white;">
                    <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
                </button>
                    <ul class="dropdown-menu">
                        <!-- Edit Form --> 
                            <li class="dropdown-item" ><a href="{% url 'update_question' question.id %}" style="text-decoration: none;">Edit</a></li>
                            <!-- Delete Form  -->
                            <li class="dropdown-item" id="delete">Delete</li> 
                    </ul>
                </div>       
            <!-- Delete Blog pop up  Container -->
            <div class="delete-container">
                <h3>Are You Sure you want to delete '{{question.title}}' Question</h3>
                <form action="{% url 'delete_question' question.id %}" method="post">
                    {% csrf_token%}
                    <input type="submit" id='delete-blog' value="Delete" class="btn btn-danger" name="delete">
                    <input type="button" id='cancel' value="Cancel" class="btn btn-light" name="cancel">
                    
                </form> 
            </div>
            <!-- Endof the Delete pop up -->
            <a href="{% url 'question_detail' question.id %}" style="text-decoration: none;">
                <h1 class="title">{{question.question}}</h1>
            </a>
            <p class="author">Author: {{question.author}}</p>
            {% if question.tags.all %}
            <p class="author">Tags: {% for tag in question.tags.all%}<span class="tag">{{tag}}</span>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            {% endif %}
            <p class="date">Date: {{question.pub_date}}</p>
            <div class="actions">
                <div class="likes">
                    {% if request.user in question.likes.all %}
                        <button type="submit" style="background-color: inherit;">
                            <i class="fa-solid fa-heart fa-2xl" style="color: #d62069;"></i>
                        </button> {{question.likes.all.count}}
                        {% else %}
                        <button type="submit" style="background-color: inherit;">
                            <i class="fa-regular fa-heart fa-2xl" style="color: #d62069;"></i>
                        </button> {{question.likes.all.count}}
                        {% endif %}                   
                </div>
                <div class="comments">
                   
                </div>
                <div class="comment-container">
                  <form action="{% url 'answer_question' question.id %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="answer" id="comment" placeholder="type your answer here..">
                    <button class="comment-btn" type="submit">Answer</button>
                </form>
                </div>     
            </div>
        </div>
        {% endfor %}
    </main>
</div>
<!-- Comment Section -->
<div class="nav-content" id="comments"> <br> 
  <div class="list-group" >
    <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
      user's Comments ({{user_comments.all.count}})
    </button>
    {% for comment in user_comments %}
    <button type="button" class="list-group-item list-group-item-action" style="background-color: #000; color:#fff">{{comment.user.username}} - {{comment.comment}}</button>
    {% endfor %}
  </div>
</div>
<div class="nav-content" id="likes" >
  <main class="content">
      <h3>Blogs You Liked ({{user_likes.all.count}})</h3>
      {% for like in user_likes %}
     <div class="blog-post" id="{{like.id}}">
          
          <a href="{% url 'blog_details' like.id %}" style="text-decoration: none;">
              <h1 class="title">{{like.title}}</h1>
          </a>
          <p class="author">Author: {{like.author}}</p>
          {% if like.tags.all %}
          <p class="author">Tags: {% for tag in like.tags.all%}<span class="tag">{{tag}}</span>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
          {% endif %}
          <p class="date">Date: {{like.pub_date}}</p>
          <div class="body">
              <p>{{like.body}}</p>       
              <!-- Add more content here -->
          </div>        
              
      </div>
      {% endfor %}
  </main>
</div>
<!-- Answers Section  -->
<div class="nav-content" id="answers"> <br> 
  <div class="list-group" >
    <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
      user's Answers ({{user_answers.all.count}})
    </button>
    {% for answer in user_answers %}
    <button type="button" class="list-group-item list-group-item-action" style="background-color: #000; color:#fff">{{answer.user.username}} - {{answer.answer}}</button>
    {% endfor %}
  </div>
</div>

{% block javascript %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
crossorigin="anonymous"></script>
<!-- place project specific Javascript in this file -->
    
  <script defer src="{% static 'js/project.js' %}"></script>
  <script defer src="{% static 'js/profile_single_page.js' %}"></script>
  <script src="{% static 'js/read_more.js' %}"></script>
  <script src="{% static 'js/like.js' %}"></script>
  <script src="{% static 'js/repost_blog.js' %}"></script>
  <script src="{% static 'js/hide_blog.js' %}"></script>
  <script src="{% static 'js/like_question.js' %}"></script>
  <script src="{% static 'js/repost_question.js' %}"></script>
  <script src="{% static 'js/hide_question.js' %}"></script>
  <script src="https://kit.fontawesome.com/6fa36f3b85.js" crossorigin="anonymous"></script>
{% endblock %}
{% endblock content %}
