:root{
  --mainFontColor:white;
  --mianBackgroundColor:#000;
  --secondaryBackgroundcolor:#1d1c1c;
}

#home-heading{
    font-size: 50px;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#new-blog-btn{
    padding: 10px 20px;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Text color */
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    float:right;
}
#new-blog-btn:hover{
    background-color: #0056b3;
}
button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.comment-container{
    margin: 20px;
}
.comment-btn{
    font-size: 13px;
    border-radius: 10px;
    margin:10px;
    }
#comment{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
#comment:focus{
    border: 1px solid #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

#delete{
  font-weight: bold;
  color: white;
}

.blog-image{
    border-radius: 10px;
    max-width: fit-content;
}

.search-input{
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
.search-input:focus{
    border: 1px solid #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}
/* Add the following CSS to your stylesheet */
.container{
  display: flex;
}
.med-column {
    flex: 3;
    margin-right: 20px;
    padding: 20px;
    background-color:var(--mianBackgroundColor);
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  /* Styles for blog posts in the feed */
  .blog-post {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    background-color: var(--mianBackgroundColor);
    border-radius: 10px;
    color:var(--mainFontColor);
  }
  .title,.author,date,
  .title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  .profile-image{
    width:40px;
    height:40px;
    display:inline-block;
    border-radius: 50%;
}
  
  .author, .date {
    font-style: italic;
    color: #666;
    margin: 0;
  }
  a{
    text-decoration: none;
    font-weight: bold;
    color:var(--mainFontColor);
  }

  
  .tag {
    color: #0056b3;
    background-color: #d6d0d0;
    border-radius: 10px;
    padding: 2px;
    font-size: small;

  }
  
  .body {
    margin-top: 20px;
    font-family: Arial, sans-serif;
  }
  
  /* Styles for the right column (sidebar) */
  .right-column {
    flex: 1;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--mianBackgroundColor);
  
    color:var(--mainFontColor);
    
  }
 
  .dropdown-item a:hover{
    color:#0056b3;
  }
  .dropdown-item li{
    color:white;
    background-color: gray;
  }
  .left-column{
    flex: 1;
    border-radius: 0;
    padding: 20px;
    background-color: var(--mianBackgroundColor);
    border: 1px solid #1d1c1c;
    
  }
  /* Styles for the left column (feed) */
  
  
  /* Media query for responsiveness */
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .left-column {
      flex: 1;
      margin-right: 0;
    }
  
    .right-column {
      flex: 1;
    }
    #new-blog-btn{
      margin-top: 10px;
    }
  }
  /* Styling for dropdown menus */
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  
  /* Styling for delete confirmation container */
  .delete-container {
    display: none;
    background-color: #fff;
    color:#000;
    padding: 20px;
    border: 1px solid #ddd;
    position: relative;
    z-index: 2;
    width: 80%;
    margin: 0 auto;
    top: 10%;
    left: 10%;
    text-align: center;
    border-radius: 10px;
  }
  #repost-btn{
    border:0;
    background-color: inherit;
  }
  #repost-btn:hover{
    color: #0056b3;
  }
  /* Media query for delete confirmation container */
  @media screen and (max-width: 768px) {
    .delete-container {
      width: 90%;
      left: 5%;
    }
  }
  
  /* Show delete container when #delete is clicked */
  #delete:hover + .delete-container {
    display: block;
  }
  
  /* Additional styling for images */
  .blog-image {
    max-width: 100%;
    height: auto;
  }
  