.blog-form-container{
    justify-content: center;
    text-align: center;
}

.submit-btn{
    width:40%;
    padding: 10px 15px;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Text color */
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s;
    display: inline-block;
}
.submit-btn:hover{
    background-color: #0056b3;
}
.custom-input{
    width:100%;
    padding:10px;
    border-radius: 5px;
    border:1px solid #ccc;
    font-size: 14px;
    margin-bottom:10px;
}
.custom-input:focus{
    border: 1px solid #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.custom-tag-input{
    width:50%;
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}
.custom-textarea{
    width:100%;
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}
.custom-textarea:focus{
    border: 1px solid #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}