:root{
  --mainFontColor:white;
  --mianBackgroundColor:#000;
  --secondaryBackgroundcolor:#1d1c1c;
  --bs-gutter-x:1erm;
}

@keyframes hide {
  0% {
    opacity: 1;
    padding: 10px;
    margin-bottom: 20px;
   
    overflow: hidden;
  }
  50% {
    opacity: 0;
    max-height: 200px; /* Gradually decrease the maximum height */
  }
  100% {
    opacity: 0;
    padding: 0;
    margin-bottom: 0;
    max-height: 0;
  }
}

#home-heading{
    font-size: 50px;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#new-blog-btn{
    padding: 10px 20px;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Text color */
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
    float:right;
}
#new-blog-btn:hover{
    background-color: #0056b3;
}
button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.comment-container{
    margin: 20px;
}
.comment-btn{
    font-size: 13px;
    border-radius: 10px;
    margin:10px;
    }
#comment{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
#comment:focus{
    border: 1px solid #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}



.blog-image{
    border-radius: 10px;
    max-width: fit-content;
}

.search-input{
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
.search-input:focus{
    border: 1px solid #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}
/* Add the following CSS to your stylesheet */
.container{
  display: flex;
  border:0;
}
.med-column {
    flex: 3;
    flex-direction: column;
    margin-top:10px;
    background-color:var(--mianBackgroundColor);
    border-radius: 10px;
  }
  
  /* Styles for blog posts in the feed */
  .blog-post {
    max-width: 100%;
    border: 1px solid #ddd; 
    padding: 10px;
    /* margin-bottom: 20px; */
    background-color: var(--mianBackgroundColor);
    border-radius: 10px;
    color:var(--mainFontColor);
    animation-name: hide;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
  }
  .author {
    /* display: flex;  Use flexbox for better alignment */
    align-items: center;
    background-color: inherit;
    /* margin: 0; */
    padding: 10px; /* Adjust padding as needed */
    text-align: left; /* Align text to the left */
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover; /* Ensure the image maintains its aspect ratio */
}

.author h6 {
    font-size: 14px;

    display:flex ;
    color: gray;
    align-content: stretch;
    
}

.author a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
}
#blog{
  font-size: small;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:rgb(35, 94, 89);
  font-weight: 600;
  font-style: italic;

}
#question{
  font-size: small;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:rgb(94, 35, 89);
  font-weight: 600;
  font-style: italic;
}
.text-muted {
    color: #6c757d;
    font-size: 14px;
    margin-top: 0; /* Adjust the margin as needed */
    margin-left: 5px; /* Add margin between the username and job title */
}
.profile-image-reposted{
  width:33px;
  height:33px;
  display:inline-block;
  border-radius: 50%;
}
  .author, .date {
    font-style: italic;
    color: #666;
    margin: 0;
  }
  a{
    text-decoration: none;
    font-weight: bold;
    color:var(--mainFontColor);
  }

  
  .tag {
    color: #0056b3;
    background-color: #d6d0d0;
    border-radius: 10px;
    padding: 2px;
    font-size: small;
    text-align: start;

  }
  .title h1{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
  }
  .title h1:hover{
    text-decoration: underline;
    color:white;
  }
  .body , .full-text ,.truncated-text {
    margin-top: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#fff;
    -webkit-tap-highlight-color: transparent;
    word-wrap: break-word;
    font-weight: normal ;
  }
  
  /* Styles for the right column (sidebar) */
  .right-column {
    flex: 1;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--mianBackgroundColor);
  
    color:var(--mainFontColor);
    
  }
 
  .dropdown-item a:hover{
    color:#0056b3;
  }
  .dropdown-item li{
    color:white;
    background-color: gray;
  }
  .left-column{
    flex: 1;
    border-radius: 0;
    /* padding: 20px; */
    background-color: var(--mianBackgroundColor);
    /* border: 1px solid #1d1c1c; */
    
  }
  .actions-nums{
    display: flex;
    margin-right: 10px;
  }
  .actions-nums h6:hover{
    text-decoration: underline;
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content:baseline; /* Spread items evenly in the container */
    border-top: 1px solid #eee; /* Add a border to separate from the content above */
}

.blog-details {
    display: flex;
    align-items: center;
}

li a {
  color:#000;
}

  /* Styles for the left column (feed) */
  #repost-btn{
    border:0;
    background-color: inherit;
    margin-top:10px;

  }
  #repost-btn:hover{
    color: #0056b3;
  }
  #like-button{
    border:0;
    background-color: inherit;

  }
  #like-button:hover{
    color:#581530;
  }
  
  /* Styling for dropdown menus */
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  /* Styling for delete confirmation container */
  .delete-container {
    display: none;
    background-color: #fff;
    color:#000;
    padding: 20px;
    border: 1px solid #ddd;
    position: relative;
    z-index: 2;
    width: 80%;
    margin: 0 auto;
    top: 10%;
    left: 10%;
    text-align: center;
    border-radius: 10px;
  }
  /* Media query for responsiveness */
  @media screen and (max-width: 768px) {
    .container {
      --bs-gutter-x: 0rem;
      box-sizing: border-box;
      flex-direction: column;
    }
    .blog-post{
      max-width: 100%;
    }
    #new-blog-btn{
      margin-top: 10px;
    }
  
    .delete-container {
      width: 90%;
      left: 5%;
    }
  /* Show delete container when #delete is clicked */
  #delete:hover + .delete-container {
    display: block;
  }
  
  /* Additional styling for images */
  .blog-image {
    max-width: 100%;
    height: auto;
  }
  }