:root{
    --mainFontColor:white;
    --mianBackgroundColor:#000;
    --secondaryBackgroundcolor:#1d1c1c;
  }
  
  body{
    background-color: var(--mianBackgroundColor);
    color:var(--mainFontColor);
    overflow-x: hidden;
  }

  .profile-container{
    background-color: var(--mianBackgroundColor);
    max-width: 100%;
  }
.btns-container{
    background-color:  var(--secondaryBackgroundcolor);
    border-radius: 10px;
    padding:10px;
    margin:20px;
    justify-content: center;
    text-align: center;
    width:100%;
}
.nav-btn{
    background-color: #67b8ee;
    color: var(--mainFontColor);
    border: none;
    padding: 10px 10px;
    justify-items: stretch;
    cursor: pointer;
    border-radius: 5px;
    display:inline-flex;

}
.nav-btn:hover{
    background-color: #2a5c7e;
}

.nav-content{
    display:none;
}
.profile-image-thumb{
  width:30px;;
  height:30px;
  display:block;
  border-radius: 50%; 
}

@media screen and (max-width: 768px) {
    /* Styles for smaller screens */
    body {
      font-size: 14px;
    }
  
    .profile-container {
      max-width: 100%;
    }
    .nav-content{
      max-width: fit-content;
    }
    .content{
      max-width:100%;
    }
  
    /* Add more styles as needed */
  }