:root{
    --mainFontColor:white;
    --mianBackgroundColor:#000;
    --secondaryBackgroundcolor:#1d1c1c;
  }
  
  body{
    background-color: var(--mianBackgroundColor);
    color:var(--mainFontColor);
  }

  .container{
    background-color: var(--mianBackgroundColor);
  }
.btns-container{
    background-color:  var(--secondaryBackgroundcolor);
    border-radius: 10px;
    padding:10px;
    margin:20px;
    justify-content: center;
    text-align: center;
    width:100%;
}
.nav-btn{
    background-color: #67b8ee;
    color: var(--mainFontColor);
    border: none;
    padding: 10px 10px;
    justify-items: stretch;
    cursor: pointer;
    border-radius: 5px;
    display:inline-flex;

}
.nav-btn:hover{
    background-color: #2a5c7e;
}

.nav-content{
    display:none;
}

.content{
    flex:2;
    padding:20px;
    background-color:var(--mianBackgroundColor);
    border: 1px solid #979595c4;
}

/* styles.css */

.blog-post {
    background-color: var(--mianBackgroundColor);
    padding: 20px;
    border: 1px solid #ddd;
    margin: 10px;
    
    border-radius: 10px;
}
.delete-container{
    display: none;
}
.title {
    font-size: 24px;
    font-weight: bold;
}

.author, .date {
    font-style: italic;
    color: #666;
}
.tag{
    color:#0056b3;
    background-color: #d6d0d0;
    border-radius:10px;
    padding:5px;
}
.body {
    margin-top: 20px;
}

.actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.likes, .comments {
    display: flex;
    align-items: center;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.comment-container{
    margin: 20px;
}
.comment-btn{

    font-size: 13px;
    border-radius: 10px;
    margin:10px;
    }
#comment{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
#comment:focus{
    border: 1px solid #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}
.setting-menu{
    display: none;
}